@function responsive-grid-width($col, $device: "desktop") {
    @if ($device == "mobile") {
        @if $col > 6 {
            @return 100%;
        }

        @if $col > 3 {
            @return 50%;
        }
    }

    @return percentage($col / 12);
}

@for $i from 1 through 12 {
    .col-#{$i} {
        width: responsive-grid-width($i);
        float: left;
        padding: 0, 15px;
        border: 1px solid #000;

        @media (max-width: 768px) {
            width: responsive-grid-width($i, "moblie");
        }
    }
}
